@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    gap: 20px;
}
/* Style the header */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Style the main content */
main {
    margin: 15px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

/* Style the footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}